hr{
    border-color: white;
    border-width: 3px;
    border-radius: 20px;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding: 0;
}
.btn {
    font-family: 'IBM Plex Mono', monospace;
}
.carousel-item{
    height: 300px;
} 
.carousel-item img{
    height: 300px;
}
.buttons{
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media (max-width: 576px) { 
    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}